.sidebar {
    position: fixed;
    top: 0;
    height: 100%;
    bottom: 0;
    width: 260px;
    left: 0;
    z-index: 1030;
    background-color: #0C8311;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

